@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;  /*Sets scroll behaviour to smooth*/
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body { /*Set background colour black, text color to white and dfont as sans serif poppins*/
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #fff;
}